

#navbar-inverse{
	background-color:white; border-bottom:1px solid lavender; box-shadow:0px 0px 10px 0px;
	
}
#navbar-header{
	background-color:re; margin-left:30px; 
}

#header{
  height:70px;  background-color:re;
}
#loogin{
	height:70px; background-color:cya; 
}
 #user{
	 font-size:15px;  padding-top:23px; margin-left:-20px;
 }
#log{
	height:auto; width:90px; margin-left:-10px; margin-top:20px; background-color:cya; 
}
#log p{
	font-size:15px; color:#0159BD; font-family:Franklin Gothic Book; padding-top:20px; 
}
#RmLine{
	text-decoration:none;
}
#AAA{
	height:70px; margin:0px; padding:0px;
}
#reg{
	height:70px; background-color:pin; 
}
#headerA{
  height:auto; 
}
#leftA{
	height:auto; background-color:cya; 
}
#leftA img{
	height:22px; width:22px; margin-left:-14px; margin-top:20px;
}
#rightA{
	height:auto;  background-color:yello; 
}
#rightA p{
	font-size:15px; color:#0159BD;  margin-left:-30px; margin-top:20px;
}
#pic{
	height:56px; width:155px; margin-top:-12px;
}
#color{
	background:rgba(0,0,0,0.3);
}
p
{
    color: #fff;
	font-family:Franklin Gothic Book;
}
.menus
{
	color:#0159BD; padding-top:8px; padding-left:2px;
	font-family:Franklin Gothic Book; font-size:16px; 
}
.menus:hover{
	color:orange;
	 text-decoration:none;
}

#dealpage{
	background-color:#006FAF; height:70px; width:67px; font-size:15px; margin-left:-10px; font-family:Franklin Gothic Book;
		margin-bottom:-15px; margin-top:-15px; color:#fff; text-align:center; padding-top:22px;	
}
#dealpage:hover{
	background-color:white; color:#0159BD; font-size:16px;
}

#mainup{
	height:auto; margin-top:110px;  background:rgba(0,0,0,0.6); padding-left:20px; 
}
#AA {
	font-size:35px; font-weight:700; padding-top:10px; color:white; opacity:0.8; padding-left:5px;
}
#AAA {
	font-size:16px; margin-bottom:30px; color:white;  
}

#maindown{
    background:rgba(0,0,0,0.6); height:auto;
}
#ourteam{
	font-size:36px; color:white; font-family:Franklin Gothic Book; padding-left:20px; opacity:0.8; font-weight:700;
}
#ONEleft{
	background-color:cya; height:500px; margin-top:10px; margin-left:300px;
}
#ONEleftUP{
	  height:300px; 
}
#ONEleftUP img{
	 height:300px; width:270px; border-radius:18px; margin-left:-10px; opacity:0.8; 
}
#ONEleftDOWN{
	background-color:orang; height:200px; 
}
#pA{
	font-size:15px; color:white; padding-top:40px; margin-left:20px; font-family:Franklin Gothic Book;
}
#line{
	width:180px; margin-left:23px; margin-top:-8px;
}
#pB{
	font-size:14px; color:white; font-family:Franklin Gothic Book; margin-top:-10px; margin-left:-5px;
}
#pC{
	font-size:14px; color:white; font-family:Franklin Gothic Book; margin-top:-10px; margin-left:5px;
}
#email{
	font-size:14px; color:white; font-family:Franklin Gothic Book; margin-top:-5px;  
}
#icon{
	color:white; padding-left:10px;
}
#pD{
	font-size:14px; color:white; font-family:Franklin Gothic Book; margin-top:-10px; text-align:center;
}


#footer{
	height:auto; background-color:#3F3F3F; margin-top:25px;
}
#footerinner{
	height:auto; background-color:cya; 
}
#footerA{
	height:auto; background-color:#3F3F3F; 
}
#footerAA{
	height:auto; background-color:#3F3F3F; 
}
#upp{
	font-size:22px; color:#FFFFFF; margin-left:-10px; padding-top:10px; 
}
#down{
	font-size:15px; color:#FFFFFF; margin-left:-10px; 
}
#rights{
	height:45px; background-color:black; 
}
#rights p{
	font-size:15px; text-align:center; padding-top:9px; color:white;
}
#links{
	height:45px; background-color:black; 
}
#links img{
	height:35px; width:35px; margin-left:20px; margin-top:10px;
}
#marquee{
	height:60px; background-color:white;
}
#img{
	margin-top:-5px; height:60px;
}




