
#navbar-inverse{
	background-color:white; border-bottom:1px solid lavender; box-shadow:0px 0px 10px 0px;
	
}
#navbar-header{
	background-color:re; margin-left:30px; 
}
#header{
  height:70px;  
}
#loogin{
	height:70px;  
}
 #user{
	 font-size:15px;  padding-top:23px; margin-left:-20px;
 }
#log{
	height:auto; width:90px; margin-left:-10px; margin-top:23px; background-color:cya; 
}
#log p{
	font-size:15px; color:#0159BD; font-family:Franklin Gothic Book; padding-top:20px; 
}
#RmLine{
	text-decoration:none;
}
#AAA{
	height:70px; margin:0px; padding:0px;
}
#reg{
	height:70px;  
}

#headerA{
  height:auto; 
}
#leftA{
	height:auto; background-color:cya; 
}
#leftA img{
	height:22px; width:22px; margin-left:-14px; margin-top:20px;
}
#rightA{
	height:auto;   
}
#rightA p{
	font-size:16px; color:#0159BD;  margin-left:-30px; margin-top:22px; font-family:Franklin Gothic Book;
}
#pic{
	height:56px; width:155px; margin-top:-12px;
}
#color{
	background:rgba(0,0,0,0.3);
}
p
{
    color: #fff;
	font-family:Franklin Gothic Book;
}
.menus
{
	color:#0159BD; padding-top:8px; padding-left:2px;
	font-family:Franklin Gothic Book; font-size:16px; 
}
.menus:hover{
	color:orange;
	 text-decoration:none;
}

#dealpage{
	background-color:#006FAF; height:70px; width:73px; font-size:15px; margin-left:-10px; font-family:Franklin Gothic Book;
		margin-bottom:-15px; margin-top:-15px; color:#fff; text-align:center; padding-top:22px;	
}
#dealpage:hover{
	background-color:white; color:#0159BD; font-size:15px;
}

#main{
	height:200px;  margin-top:40px;
}
#text{
	font-size:30px; color:#fff; margin-top:30px; font-family:Franklin Gothic Book;
}
p
{
	opacity: 0.8;
    color: #fff;
	font-family:Franklin Gothic Book;
}
input[type="email"], input[type="password"], input[type="text"]
{
	color:black;
	height:50px;
}
#formbckgrnd{
	background:rgba(0,0,0,0.3);
}
#mainup{
	height:60px; margin-top:20px; background:rgba(0,0,0,0.); margin-left:40px;
}
#mainup p{
	font-size:35px; font-weight:700; padding-top:15px; color:white; 
}
#maindown{
	height:530px; background:rgba(0,0,0,0.); margin-left:40px;
}
#textbtn{
	width:100%; height:50px; font-size:15px; padding-left:10px;
}
#submit{
	width:100%; height:50px; font-size:18px;
}
#space{
	margin-top:15px;
}
#btnA{
	height:50px; width:px; border-radius:5px 0px 0px 5px;
}
#btnA img{
	margin-left:px;
}
#btnB{
	height:50px; border-radius:0px 5px 5px 0px;
}
#btnB p{
	 font-size:17px; color:white; font-family:Georgia; padding-top:10px; 
}
#buttonB{
	height:50px; background:rgba(0,0,0,0.3); margin-top:-50px; margin-left:238px; border-radius:5px;
}

#footer{
	height:300px; background-color:#3F3F3F; margin-top:640px;
}
#footerinner{
	height:320px; background-color:cya; 
}
#footerA{
	height:110px; background-color:#3F3F3F; 
}
#footerAA{
	height:110px; background-color:#3F3F3F; 
}
#upp{
	font-size:22px; color:white; margin-left:-10px; padding-top:15px; font-family:Franklin Gothic Book;
}
#down{
	font-size:15px; color:#FFFFFF; margin-left:-10px; padding-top:10px; font-family:Franklin Gothic Book;
}
#rights{
	height:45px; background-color:black; 
}
#rights p{
	color:white; font-size:15px; text-align:center; padding-top:10px; 
}
#links{
	height:45px; background-color:black; 
}
#links img{
	height:35px; width:35px; margin-left:20px; margin-top:10px;
}
#marquee{
	height:60px; background-color:white;
}
#img{
	margin-top:-5px; height:60px;
}


