
#navbar-inverse{
	background-color:white; border-bottom:1px solid lavender; box-shadow:0px 0px 10px 0px;
	
}
#navbar-header{
	background-color:re; margin-left:30px; 
}

#header{
  height:70px;  background-color:re;
}
#loogin{
	height:70px; background-color:cya; 
}
 #user{
	 font-size:15px;  padding-top:23px; margin-left:-20px;
 }
#log{
	height:auto; width:90px; margin-left:-10px; margin-top:20px; background-color:cya; 
}
#log p{
	font-size:15px; color:#0159BD; font-family:Franklin Gothic Book; padding-top:20px; 
}
#RmLine{
	text-decoration:none;
}
#AAA{
	height:70px; margin:0px; padding:0px;
}
#reg{
	height:70px; background-color:pin; 
}

#headerA{
  height:auto; 
}
#leftA{
	height:auto; background-color:cya; 
}
#leftA img{
	height:22px; width:22px; margin-left:-14px; margin-top:20px;
}
#rightA{
	height:auto;  background-color:yello; 
}
#rightA p{
	font-size:15px; color:#0159BD;  margin-left:-30px; margin-top:20px;
}
#pic{
	height:56px; width:155px; margin-top:-12px;
}
#color{
	background:rgba(0,0,0,0.3);
}
p
{
    color: #fff;
	font-family:Franklin Gothic Book;
}
.menus
{
	color:#0159BD; padding-top:8px; padding-left:2px;
	font-family:Franklin Gothic Book; font-size:16px; 
}
.menus:hover{
	color:orange;
	 text-decoration:none;
}

#dealpage{
	background-color:#006FAF; height:70px; width:55px; font-size:15px; margin-left:-10px; font-family:Franklin Gothic Book;
		margin-bottom:-15px; margin-top:-15px; color:#fff; text-align:center; padding-top:22px;	
}
#dealpage:hover{
	background-color:white; color:#0159BD; font-size:16px;
}


#main{
	height:auto; margin:0px; padding:0px; margin-top:90px; 
}
#mainIMG{
	height:400px; width:1349px; margin:0px; padding:0px;
}

#mainA{
	height:90px; background:rgba(0,0,0,0.3);  padding-top:5px;
}
#mainA p{
	font-size:30px; color:white; font-weight:800; text-align:center; padding-top:30px; font-family:Franklin Gothic Book; font-style:italic;
}
#mainB{
	height:60px;  background:rgba(0,0,0,0.3); background-color:pin;
}
#flt{
	background-color:re; height:33px; margin-left:150px; border-radius:30px; border:1px solid white; margin-top:10px;
}
#flt p{
	font-size:20px; color:white; font-family:Franklin Gothic Book; padding-top:2px; text-align:center;
}


#a{
	text-decoration:none;
}
#mainC{
	height:250px; background:rgba(0,0,0,0.3);  
}
#formA{
	height:47px; width:250px; border:none; padding-left:10px; margin-left:70px; margin-top:-15px;
}
#formA p{
	font-size:19px; color:white; padding-top:25px; padding-left:70px; font-family:Franklin Gothic Book;
}
#formB{
	height:47px; width:250px; border:none; padding-left:10px; margin-left:40px; margin-top:-15px; 
}
#formB p{
	font-size:19px; color:white; padding-top:25px; padding-left:40px; font-family:Franklin Gothic Book;
}

#formC{
	height:47px; width:250px; border:none; padding-left:10px; margin-left:25px; margin-top:-15px; 
}
#formC p{
	font-size:19px; color:white; padding-top:25px; padding-left:25px; font-family:Franklin Gothic Book;
}
#formD{
	height:47px; width:250px; border:none; padding-left:10px; margin-left:18px; margin-top:-15px;
   border:0px 0px 2px 2px, solid green;	
}
#formD p{
	font-size:19px; color:white; padding-top:25px; padding-left:18px; font-family:Franklin Gothic Book;
}

#btn{
	height:45px; width:190px;  margin-top:50px; margin-left:990px; font-size:20px; background-color:#E96E25; border:none;
	 
}

#found{
	height:50px; background-color:re; margin-top:10px;
}
#found p{
	font-size:30px; color:#006FAE; text-align:center; padding-top:10px;
}

#flights{
	height:400px; background-color:pin; margin-top:-10px;
}
#flightsA{
	height:70px; background-color:re;
}
#flightsA p{
	font-size:20px; color:#006FAE; font-weight:700; text-align:center; padding-top:30px; padding-left:50px;
}
#flightsB{
	height:70px; background-color:re; margin-left:30px; 
}
#flightsB p{
	font-size:20px; color:#006FAE; font-weight:700; text-align:center; padding-top:30px; padding-left:20px;
}
#flightsC{
	height:70px; background-color:re;  margin-left:30px; 
}
#flightsC p{
	font-size:20px; color:#006FAE; font-weight:700; text-align:center; padding-top:30px;
}
#flightsD{
	height:90px; background-color:re; margin-left:135px;  margin-top:10px; border-radius:4px; border:1px solid #CCCCCC;
}
#flightsD:hover{
	background-color:#026ED3;
}
#flightsD:hover p{
	color:white;
}
#left{
	height:87px; width:200px; background-color:gree; margin-left:-13px; }	
#leftPA{
	font-size:15px; color:#333; padding-top:10px; margin-left:-5px; }
#leftPB{
	font-size:14px; color:#333; margin-top:-14px;}
#right{
	height:87px; width:100px; background-color:yello; margin-left:px;
}
#right img{
	height:70px; width:110px; margin-left:-5px; margin-top:-10px;
}
#right P{
	font-size:20px; color:black; margin-left:-10px; margin-top:-8px; font-weight:700;
}


#flightsE{
	height:90px; background-color:re; margin-left:20px;  margin-top:10px; border-radius:4px; border:1px solid #CCCCCC;
}
#flightsE:hover{
	background-color:#026ED3;}
#flightsE:hover p{
	color:white; 
	}
#leftE{
	height:87px; width:235px; background-color:gren; margin-left:-13px; }	
#leftEA{
	font-size:15px; color:#333; padding-top:10px; margin-left:-8px; }
#leftEB{
	font-size:14px; color:#333; margin-top:-14px;}
#rightE{
	height:87px; width:50px; background-color:yello;
}
#rightE img{
	height:70px; width:110px; margin-left:-35px; margin-top:-10px;
}
#rightE P{
	font-size:20px; color:black; margin-left:-35px; margin-top:-8px; font-weight:700;
}

#service{
	height:70px; background-color:re; padding-left:; width: 100%;  margin-top:-30px;
}
#service p{
	font-size:30px; text-align:center; color:#333; padding-top:10px;
}
#customer{
	width: 1010px; height:120px; border-radius:8px; border:1px solid #cccccc; margin-left: 150px;
	 }
#colA{
	width: 20%; text-align: center; 
}
#link{
	width: 67px; height: 67px;
}#colAA{
	width: 20%; text-align: center;
}#colB{
	width: 20%; text-align:center;
}#linkk{
	color: #414141;}
#colBB{
	width: 20%; text-align: center;
}

#footer{
	height:auto; background-color:#3F3F3F; margin-top:25px;
}
#footerinner{
	height:auto; background-color:cya; 
}
#footerA{
	height:auto; background-color:#3F3F3F; 
}
#footerAA{
	height:auto; background-color:#3F3F3F; 
}
#upp{
	font-size:22px; color:#FFFFFF; margin-left:-10px; padding-top:10px; 
}
#down{
	font-size:15px; color:#FFFFFF; margin-left:-10px; 
}
#rights{
	height:45px; background-color:black; 
}
#rights p{
	font-size:15px; text-align:center; padding-top:9px; color:white;
}
#links{
	height:45px; background-color:black; 
}
#links img{
	height:35px; width:35px; margin-left:20px; margin-top:10px;
}
#marquee{
	height:60px; background-color:pin;
}
#img{
	margin-top:-5px; height:60px;
}

