

#up{
	height:110px; width:100%; background-color:re; border:none;
}
#left{
	height:110px; width:600px; background-color:pin; border:none; float:left;
}
#leftA{
	background-color:gree; height:105px; width:250px; float:left;
}
#leftA img {
	 height:70px; padding-left:170px; margin-top:16px;
}
#leftB{
	background-color:orang; height:11px; width:350px; float:left;
}
#leftBup{
	background-color:purpl; height:55px; width:350px; 
}
#leftBup p{
	cursor:pointer; margin-left:10px; padding-top:20px; font-size:20pt; 
	font-family: Chaparral Pro Light; text-transform:uppercase;
	color:#056eb0; font-weight:700;
}
#leftBdown{
	background-color:gra; height:50px; width:350px;
}
#leftBdown p{
	margin-left:73px; padding-top:-10px; font-size:11pt;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#056eb0;font-weight:700;
}
#right{
	height:100px; width:500px; background-color:blu; border:none; float:left;
}
#log-in{
	 height:43px; width:100px; color:white;  float:left; border:px solid gray;
	margin-top:30px; margin-left:240px; background:(0,0,0,0.1);
}
#log-in p{
	font-size:18px; color:#0773ac; font-family:Franklin Gothic ; padding-top:9px; margin-left:12px; float:left;
}
#log-out{
	 height:43px; width:100px;  color:white;  float:left; border:px solid gray;
	margin-top:30px; background:(0,0,0,0.1);
}
#log-out p{
	font-size:18px; color:white; color:#0773ac; font-family:Franklin Gothic ; padding-top:9px; margin-left:10px; float:left;
}
#user{
	 font-size:16px; padding-top:14px; color:white;  float:left; color:#0773ac; 
}
#zz{
	height:100px; width:170px; background-color:lim; float:left;  
}
#zz img{
	height:30px; width:19px; margin-top:35px; margin-left:15px; transition:ease 2s;
	position:relative; 
}
#zz img:hover{
	height:30px; width:19px; margin-top:35px; margin-left:15px;
	transition:ease 2s; transform:rotate(360deg);
}
#navbar-inverse{
	   background-color:#c3f6c5; border:1px solid black;  border-radius:0px;	
}
#navbar-header{
	background-color:orang; margin-left:170px; height:50px; margin-top:-4px;
}
#brr{
	height:50px; width:100%;  z-index: 1; content: ""; background:rgba(0,0,0,0.9);
}
#header{
    height:30px; width:125px;  background-color:re; 
}
#loogin{
	height:30px; width:125px; background-color:cya; margin-left:-20px;
}
#resource{
  height:30px;  background-color:skyblu; width:210px;
}
#resources{
	height:30px; width:220px; background-color:pin; padding-top:10px; margin-left:-40px;
}
#about{
  height:30px; width:120px; background-color:blu;
}
#abouts{
	height:40px; width:160px; background-color:darkkhak; padding-top:10px; margin-left:-30px;
}
#logg{
	height:30px; width:160px; background-color:yellowgree; margin-left:-15px;
}
#logg p{
	font-size:15px; color:#0159BD; font-family:Franklin Gothic Book; padding-top:15px; 
}
#media{
  height:30px;  background-color:red; width:120px;
}
#medi{
	height:30px; width:130px; background-color:cya; 
}
#mnu{
	color:black;
}
#log{
	height:30px; width:130px; margin-top:10px; background-color:gree; padding-left:-2px;
}
#log p{
	font-size:15px; color:#0159BD; font-family:Franklin Gothic Book; padding-top:25px; 
}
#RmLine{
	text-decoration:none;
}
.menus
{
	color:white; padding-top:15px; padding-left:5px;
	font-family:Franklin Gothic ; font-size:16px; text-decoration:none;
}
.menu
{
	color:#0159BD; padding-top:15px; padding-left:5px;
	font-family:Franklin Gothic ; font-size:16px; text-decoration:none;
}
.menus:hover{
	color:orange; text-decoration:none;
}

#main {
	height:1000px; width:100%;  background-color:gree; margin-top:-20px;
}
#mid {
	height:650px; width:1140px; background:rgba(0,0,0,0.8);  margin-left:110px; margin-top:-40px;
}
#midL{
	height:80px; width:708px; background-color:pin; margin-left:50px; float:left; border-bottom:2px solid white; 
}
#midL p{
	font-size:30px; padding-top:30px; padding-left:5px; font-family:Comic Sans MS; color:white; 
}
#midR{
	height:80px; width:310px; background-color:orang; float:left; margin-left:40px; border-bottom:2px solid white; 
}
#midR p{
	font-size:30px;  padding-top:30px; padding-left:5px; font-family:Comic Sans MS; color:white;
}
#mainL {
	height:470px; width:713px; background-color:gra; margin-left:50px; float:left; margin-top:20px;
}
#first{
	height:50px; width:350px; float:left; font-size:15px;  border-radius:5px; border:1px solid #a29e9e;
	 padding-left:10px;
}
#first:hover{
	height:50px; width:350px; float:left; font-size:15px;  border-radius:5px; border:1px solid black;
	 padding-left:10px;
}
#last{
	height:50px; width:350px; float:left; font-size:15px; margin-left:10px; border-radius:5px; border:1px solid #a29e9e;
    padding-left:10px;
}
#last:hover{
	height:50px; width:350px; float:left; font-size:15px; margin-left:10px; border-radius:5px; border:1px solid #a29e9e;
    padding-left:10px; border:1px solid black;
}
#mail{
	height:50px; width:710px;  font-size:15px; margin-top:10px; border-radius:5px; border:1px solid #a29e9e;
	padding-left:10px; 
}
#mail:hover{
	height:50px; width:710px;  font-size:15px; margin-top:10px; border-radius:5px; border:1px solid #a29e9e;
	padding-left:10px; border:1px solid black;
}
#mssg{
	height:250px; width:710px;  font-size:15px; margin-top:10px; border-radius:5px; border:1px solid #a29e9e;
	padding-top:10px; padding-left:10px;
}
#mssg:hover{
	height:250px; width:710px;  font-size:15px; margin-top:10px; border-radius:5px; border:1px solid #a29e9e;
	padding-top:10px; padding-left:10px;  border:1px solid black;
}
#submit{
	height:50px; width:710px; margin-top:10px; font-size:17px;
}
#mainR {
	height:500px; width:300px; background-color:yello; float:left; margin-left:45px;
}
#mainR h1{
	font-size:16px; font-weight:800; padding-top:10px; color:white;
}
#mainR p{
	font-size:16px; margin-top:-3px; font-family: Chaparral Pro Light; color:white;
}
#mainR h2{
	font-size:16px; font-weight:800; padding-top:7px; color:white;
}
#mainR h3{
	font-size:16px; font-weight:800; padding-top:5px; color:white;
}
#envelop{
	font-size:13px; color:white; margin-left:-35px; margin-top:8px;
}
#mainR li{
	font-size:14px; color:white; margin-top:8px; margin-left:5px;
}
#mainR h4{
	font-size:16px; margin-top:-15px; margin-left:24px; color:white;
}
#mainR h5{
	font-size:16px; margin-top:-24px; margin-left:26px; color:white;
}
#help{
	height:140px; width:1140px; z-index: 1; position: absolute; content: "";  background: rgba(0, 166, 81, 0.7); 
	margin-left:113px;  margin-top:-230px;
}
#help1{
	height:140px; width:880px; background-color:gree; float:left;
}
#help1 p{
	font-size:30px; text-align:center; padding-top:45px; font-family:Comic Sans MS; color:white;
}
#help2{
	height:140px; width:240px; background-color:yello; float:left; 
}
#btn{
     height:50px; width:140px; font-size:17px; margin-top:45px; margin-left:30px;
}
#btn:hover{
     height:50px; width:140px; background: rgba(0, 166, 81, 0.6); font-size:17px; margin-top:45px; margin-left:30px;
}	
#footer{
	 width:100%;  background:rgba(0,0,0,0.8); height:260px;  
}	
#footermiddle{
	background-color:yello; height:160px; width:450px; float:left;
}
#footermiddleup{
	background-color:darkkhak; height:60px; width:450px; float:left; margin-top:20px;
}
#footermiddleup p{
	font-size:25px;  text-align:center; padding-top:15px;
	font-family: Chaparral Pro Light; color:white;
}
#footermiddledown{
	background-color:skyblu; height:90px; width:450px; float:left; border-bottom:1px solid #a29e9e;
}
#footermiddledown img{
	height:40px; width:40px;
	position:relative;
	cursor:pointer;
	transition:ease 6s;
	left:120px;
	margin-top:10px;
}
#footermiddledown img:hover{
	height:40px; width:40px; 
	transition:ease 2s;
	transform:rotate(360deg);
	
	
}		
#footerleft{
	background-color:cya; height:170px; width:260px;float:left; margin-left:120px; border-bottom:1px solid #a29e9e;
}
#footerleft h3{
	font-size:25px;
	font-family: Chaparral Pro Light;
	padding-top:23px;
	color:white;
}
#footerleft p{
	 font-family: Chaparral Pro Light;
	 font-size:19px;
	 padding-top:10px;
	 color:white;
}	
#footerright{
	background-color:greenyello; height:170px; width:400px;float:left; border-bottom:1px solid #a29e9e;
}
#footerright h3{
	font-family: Chaparral Pro Light;
	padding-top:20px;
	font-size:25px;
	padding-left:100px;
	color:white;
}	
#batan{
	height:40px; width:200px; margin-left:85px; font-size:16px; margin-top:13px;
}
#sub{
	height:40px; width:100px; border-radius:0px 5px 5px 0px; background-color:#00a651; font-size:17px;
	 border:none; margin-left:-5px; margin-bottom:3px; 
	 font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}			
#footerbottom{
	background-color:gree; height:70px; width:100%; margin-top:-90px;
}
#footerbottom li{
	font-size:15px; padding-left:5px;
}
#footerbottom h5{
	font-size:19pt;
	font-family:gabriola;
	font-weight:;
	text-align:center;
	padding-top:15px;
	color:white;
}	
