

#up{
	height:110px; width:100%; background-color:re; border:none;
}
#left{
	height:110px; width:600px; background-color:pin; border:none; float:left;
}
#leftA{
	background-color:gree; height:105px; width:250px; float:left;
}
#leftA img {
	 height:70px; padding-left:170px; margin-top:16px;
}
#leftB{
	background-color:orang; height:11px; width:350px; float:left;
}
#leftBup{
	background-color:purpl; height:55px; width:350px; 
}
#leftBup p{
	cursor:pointer; margin-left:10px; padding-top:20px; font-size:20pt; 
	font-family: Chaparral Pro Light; text-transform:uppercase;
	color:#056eb0; font-weight:700;
}
#leftBdown{
	background-color:gra; height:50px; width:350px;
}
#leftBdown p{
	margin-left:73px; padding-top:-10px; font-size:11pt;
	font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
	color:#056eb0;font-weight:700;
}
#right{
	height:100px; width:500px; background-color:blu; border:none; float:left;
}
#log-in{
	 height:43px; width:100px; color:white;  float:left; border:px solid gray;
	margin-top:30px; margin-left:240px; background:(0,0,0,0.1);
}
#log-in p{
	font-size:18px; color:#0773ac; font-family:Franklin Gothic ; padding-top:9px; margin-left:12px; float:left;
}
#log-out{
	 height:43px; width:100px;  color:white;  float:left; border:px solid gray;
	margin-top:30px; background:(0,0,0,0.1);
}
#log-out p{
	font-size:18px; color:white; color:#0773ac; font-family:Franklin Gothic ; padding-top:9px; margin-left:10px; float:left;
}
#user{
	 font-size:16px; padding-top:14px; color:white;  float:left; color:#0773ac; 
}
#zz{
	height:100px; width:170px; background-color:lim; float:left;  
}
#zz img{
	height:30px; width:19px; margin-top:35px; margin-left:15px; transition:ease 2s;
	position:relative; 
}
#zz img:hover{
	height:30px; width:19px; margin-top:35px; margin-left:15px;
	transition:ease 2s; transform:rotate(360deg);
}
#navbar-inverse{
	   background-color:#c3f6c5; border:1px solid black;  border-radius:0px;	
}
#navbar-header{
	background-color:orang; margin-left:170px; height:50px; margin-top:-4px;
}
#brr{
	height:50px; width:100%;  z-index: 1; content: ""; background:rgba(0,0,0,0.9);
}
#header{
    height:30px; width:125px;  background-color:re; 
}
#loogin{
	height:30px; width:125px; background-color:cya; margin-left:-20px;
}
#resource{
  height:30px;  background-color:skyblu; width:210px;
}
#resources{
	height:30px; width:220px; background-color:pin; padding-top:10px; margin-left:-40px;
}
#about{
  height:30px; width:120px; background-color:blu;
}
#abouts{
	height:40px; width:160px; background-color:darkkhak; padding-top:10px; margin-left:-30px;
}
#logg{
	height:30px; width:160px; background-color:yellowgree; margin-left:-15px;
}
#logg p{
	font-size:15px; color:#0159BD; font-family:Franklin Gothic Book; padding-top:15px; 
}
#media{
  height:30px;  background-color:red; width:120px;
}
#medi{
	height:30px; width:130px; background-color:cya; 
}
#mnu{
	color:black;
}
#log{
	height:30px; width:130px; margin-top:10px; background-color:gree; padding-left:-2px;
}
#log p{
	font-size:15px; color:#0159BD; font-family:Franklin Gothic Book; padding-top:25px; 
}
#RmLine{
	text-decoration:none;
}
.menus
{
	color:white; padding-top:15px; padding-left:5px;
	font-family:Franklin Gothic ; font-size:16px; text-decoration:none;
}
.menu
{
	color:#0159BD; padding-top:15px; padding-left:5px;
	font-family:Franklin Gothic ; font-size:16px; text-decoration:none;
}
.menus:hover{
	color:orange; text-decoration:none;
}

  
#main{
	 height:710px; width:100%; background-color:pin;
} 
#org{
	 height:710px; width:760px; background-color:cya; float:left; margin-left:20px;
} 
#org1{
	 height:140px; width:760px; background-color:gree; float:left;
 }
#org1 p{
	 font-size:46pt; padding-left:122px; font-family:arial; padding-top:60px; font-weight:700;
}
#org2{
	 height:80px; width:760px; background-color:silve; float:left; 
}
#org2 p{
	 font-size:46pt; text-align:center; font-family:arial; font-weight:700;
} 

#org3{
	 height:150px; width:760px; background-color:gra; float:left; margin-top:50px;
 }
#org3 p{
	 font-size:19px; font-family:arial; padding-left:130px; 
}
#org4{
	 height:200px; width:760px; background-color:pin; float:left;margin-top:50px;
}
#btn{
	 background-color:#056eb0; height:75px; width:300px; color:white; border-radius:5px;
	 border:none; margin-left:130px; font-size:17px; font-family:Franklin Gothic ;
} 
#btn:hover{
	 background-color:#1174ce; height:75px; width:300px; color:white; border-radius:5px;
	 border:none; margin-left:130px; font-size:17px; font-family:Franklin Gothic ;
}
#buton{
	  height:75px; width:250px; color:#056eb0; border-radius:5px; border:2px solid #056eb0;
	  margin-left:5px; font-size:17px; font-family:Franklin Gothic ; background-color:white;
} 
#buton:hover{
	 background-color:#056eb0; height:75px; width:250px; color:white; border-radius:5px; border:2px solid #056eb0;
	 margin-left:5px; font-size:17px; font-family:Franklin Gothic; 
}   
#tiny{
	 height:710px; width:505px; background-color:re; float:left; 
}
#tiny img{
	 height:710px; width:505px;
} 
 
#pills{
	background-color:#2191f7; height:460px; width:100%; 
} 
#pillsL{
	background-color:gree; height:460px; width:250px; float:left; 
} 
#pillsL img{
	 height:540px; width:200px; margin-left:65px; margin-top:-25px;
}
#pillsR{
	background-color:darkkhak; height:460px; width:1040px; float:left;
} 
#why{
	background-color:blu; height:100px; width:1040px; margin-top:80px;
}
#why p{
	font-size:50px; color:white; text-align:center; font-weight:700; padding-top:35px; margin-left:-100px;
}
#cost{
	background-color:purpl; height:220px; width:1040px;
}
#cost p{
	font-size:19px; color:#a6d1fb; text-align:center;  padding-top:30px; margin-left:-90px;
} 
 
#decor1{
	background-color:gree; height:400px; width:100%;
} 
#help{
	background-color:purpl; height:400px; width:470px; float:left; margin-left:160px;
}
#help h2{
	  font-size:27px; padding-top:100px; font-family:arial; font-weight:700;
}
#help p{
	  font-size:18px; color:#586073; padding-top:30px;
}
#person{
	background-color:re; height:400px; width:570px; float:left; margin-left:55px;
}
#person img{
	  height:490px; width:570px; margin-top:-85px;
} 


#decor2{
	background-color:orang; height:465px; width:100%; margin-top:10px;
}
#prsn2{
	background-color:skyblu; height:400px; width:400px; float:left;  margin-left:160px;
}
#prsn2 img{
	height:460px; width:350px; margin-top:10px;
}
#tax{
	background-color:gra; height:400px; width:460px; float:left; margin-left:240px;
}
#tax h2{
	font-size:27px; padding-top:110px; font-family:arial; font-weight:700;
}
#tax p{
	  font-size:18px; color:#586073; padding-top:30px;
}
#tax_spn{
	 font-size:19px; color:#2191f7; text-decoration:underline; font-family:calibri;
	 font-weight:800;
}

#decor3{
	background-color:blu; height:470px; width:100%; margin-top:10px;
}
#save{
	background-color:yello; height:450px; width:540px; float:left; margin-left:160px;
}
#save h2{
	font-size:27px; padding-top:130px; font-family:arial; font-weight:700;
}
#save p{
	  font-size:18px; color:#586073; padding-top:30px;
}
#prsn1{
	background-color:skyblu; height:450px; width:500px; float:left; margin-left:90px;
}
#prsn1 img{
     height:440px; width:400px; 
}

#decor4{
	background-color:gra; height:465px; width:100%; margin-top:px;
}
#woman{
	background-color:darkkhak; height:450px; width:540px; float:left; margin-left:160px;
}
#woman img{
	 height:435px; width:430px; margin-top:10px;
}
#envir{
	background-color:pin; height:450px; width:450px; float:left; margin-left:110px;
}
#envir h2{
	font-size:27px; padding-top:135px; font-family:arial; font-weight:700;
}
#envir p{
	  font-size:18px; color:#586073; padding-top:30px;
}

#decor5{
	background-color:gree; height:530px; width:100%; margin-top:10px;
} 
#feel{
	background-color:greenyello; height:470px; width:450px; float:left; margin-left:160px;
}
#feel h2{
	font-size:27px; padding-top:130px; font-family:arial; font-weight:700;
}
#feel p{
	  font-size:18px; color:#586073; padding-top:30px;
}
#book{
	background-color:orang; height:470px; width:400px; float:left; margin-left:200px;
}
#book img{
	 height:460px; width:390px; margin-top:-5px; 
}
#side{
	background-color:brow; height:470px; width:130px; float:left;
}
#side img{
	 height:480px; width:175px; margin-top:240px; margin-left:-87px;
}
#info{
	font-size:18px; text-align:center;
}



#donate{
	background-color:#eef8ff; height:1330px; width:100%;
}
#inject{
	background-color:pin; height:515px; width:210px; margin-top:295px; float:left;
	border-right:2px dashed #56afee;
}
#inject img{
	   height:700px; width:200px; margin-top:-280px;
}
#goli{
	background-color:cya; height:370px; width:210px; float:left; margin-top:800px; margin-left:-210px;
	border-right:2px dashed #56afee;
}
#how{
	background-color:gra; height:1200px; width:1100px; float:left; margin-left:10px;
}
#bar{
	height:280px; width:1100px; background-color:skyblu; 
}
#bar p{
	font-size:38pt; padding-left:330px; padding-top:100px; font-weight:700;
	}
#numb{
	background-color:darkkhak; height:980px; width:1100px; 
}
#pehla{
	background-color:lim; height:105px; width:1100px;   
}

#datte{
	background-color:#1174ce; height:50px; width:50px; float:left; margin-top:18px; margin-left:3px;
	border-radius:4px; transition:ease 1.5s; box-shadow:1px -2px 5px #011522;  
}
#datte:hover{
	background-color:#0c5c95;
	cursor:pointer;
	}
#datte p{
	  font-size:27pt; text-align:center;  font-family:impect; color:rgba(244,244,244,1);
}
#write{
	background-color:orang; height:85px; width:1000px; float:left; margin-top:12px; margin-left:30px;
}
#writeL{
	height:85px; width:250px; background-color:re; float:left;
}
#writeL p{
	font-size:18px; font-weight:700; 
}
#writeR{
	height:85px; width:600px; background-color:yello; float:left;
}
#writeR p{
	font-size:17px; color:#586073; 
}


#down{
	 height:270px; width:1100px; background-color:cya;
}
#downL{
	 height:150px; width:250px; background-color:darkkhak; float:left; margin-left:333px;
}
#downL h3{
	 font-size:17px; font-weight:700; 
}
#bnn{
	 height:65px; width:240px; color:white; border-radius:4px; background-color:#1174ce;
	 border:none; font-size:17px; font-family:Franklin Gothic ; margin-top:12px;
}
#bnn:hover{
	 background-color:#0863a3; height:65px; width:240px; color:white; border-radius:4px;
	 border:none;  font-size:17px; font-family:Franklin Gothic ;
}

#downR{
	 height:150px; width:460px; background-color:silve; float:left; margin-left:25px;
}
#downR h3{
	 font-size:17px; font-weight:700; 
}
#bn{
	 height:65px; width:240px; border-radius:4px; border:none; font-size:17px; font-family:Franklin Gothic ;
	 border:2px solid #056eb0; color:#056eb0; margin-top:12px; background-color:#eef8ff;
}
#bn:hover{
	 background-color:#0863a3; height:65px; width:240px; color:white; border-radius:4px;
	 border:none;  font-size:17px; font-family:Franklin Gothic ;
}
#radi{
	font-size:14px; color:#056eb0; margin-top:30px;float:left; margin-left:333px;
}
#h4{
	font-size:19px; margin-top:22px; float:left; margin-left:20px; 
}
#radii{
	font-size:14px; color:#056eb0; margin-top:30px;float:left; margin-left:140px;
}


#tesra{
	background-color:brow; height:150px; width:1100px; 
	
}
#date{
	background-color:#1174ce; height:50px; width:50px; float:left; margin-top:18px; margin-left:3px;
	border-radius:4px; transition:ease 1.5s; box-shadow:1px -2px 5px #011522; 
}
#date:hover{
	background-color:#0c5c95;
	cursor:pointer;
}
#date p{
	  font-size:27pt; text-align:center;  font-family:impect; color:rgba(244,244,244,1);
}
#dusra{
	background-color:gra; height:120px; width:1000px; float:left; margin-top:12px; margin-left:30px;
}
#dusraL{
	height:85px; width:250px; background-color:re; float:left;
}
#dusraL p{
	font-size:18px; font-weight:700; 
}
#dusraR{
	height:85px; width:600px; background-color:yello; float:left;
}
#dusraR p{
	font-size:17px; color:#586073; 
}
#subm{
	height:60px; width:920px; border:none; border-radius:4px; margin-top:-20px;
	background-color:#1174ce; color:white; font-size:18px;
}
#subm:hover{
	height:60px; width:920px; border:none; border-radius:4px; margin-top:-20px;
	background-color:#0965bb; border:2px solid #1174ce; color:white; font-size:18px;
}
#botal{
	height:50px; width:100%; background-color:#eef8ff;
}
#botalL{
	height:50px; width:600px; background-color:silve; float:left;
}
#botalL img{
	height:320px; width:120px;  margin-top:-190px; margin-left:20px;
}
#botaRl{
	height:50px; width:600px; background-color:purpl; float:left;
}
#botalR img{
	height:150px; width:200px;  margin-left:530px; margin-top:-500px;
}


#pick{
	height:980px; width:100%; background-color:orang; margin-top:60px;
}
#pick1{
	height:255px; width:1000px; background-color:pin; margin-left:170px;
}
#pick1 h1{
	font-size:40pt; text-align:center; padding-top:10px; font-weight:700;
}
#pick1 p{
	font-size:20px; padding-top:20px; text-align:center; color:#483e42;
}

#pick2{
	height:600px; width:100%; background-color:gree; 
}
#program{
	height:520px; width:250px; background-color:silve; margin-left:130px; 
	box-shadow:5px 5px 5px 20px; color:#f8f3f3; float:left;
}
#program1{
	height:190px; width:250px; background-color:pin; 
}
#program1 h3{
	font-size:18px; font-weight:700; text-align:center; padding-top:32px; color:#3a3235;
}
#program1 p{
	font-size:18px; padding-top:45px; color:#323845; text-align:center;
}
#program2{
	height:75px; width:226px; background-color:yello; margin-left:12px;
	border-bottom:1px solid #2191f7;
}
#program2 p{
	font-size:24px; padding-top:15px; text-align:center; color:#2191f7; font-weight:700;
}

#program3{
	height:220px; width:250px; background-color:darkkhak; 
}
#program3 li{
	 font-size:13px; float:left; margin-left:10px; margin-top:30px; color:#2191f7;
}
#program3 p{
	font-size:16px; float:left; padding-left:33px; margin-top:-16px; color:#323845;
}
#line{
	 font-size:13px; float:left; margin-left:10px; margin-top:10px; color:#2191f7;
}


#mid{
	height:520px; width:250px; background-color:silve; margin-left:33px; 
	box-shadow:5px 5px 5px 20px; color:#f8f3f3; float:left;
}
#mid1{
	height:190px; width:250px; background-color:pin; 
}
#mid1 h3{
	font-size:18px; font-weight:700; text-align:center; padding-top:30px; color:#3a3235;
}
#mid1 p{
	font-size:18px; padding-top:27px; color:#323845; text-align:center;
}
#mid2{
	height:75px; width:226px; background-color:yello; margin-left:12px;
	border-bottom:1px solid #2191f7;
}
#mid2 p{
	font-size:24px; padding-top:15px; text-align:center; color:#2191f7; font-weight:700;
}
#mid2 ul{
	font-size:24px; padding-top:15px;  color:#2191f7; font-weight:700; text-decoration:underline;
	cursor:pointer;
}
#mid3{
	height:220px; width:250px; background-color:darkkhak; 
}
#mid3 li{
	 font-size:13px; float:left; margin-left:10px; margin-top:30px; color:#2191f7;
}
#mid3 p{
	font-size:16px; float:left; padding-left:33px; margin-top:-16px; color:#323845;
}
#line{
	 font-size:13px; float:left; margin-left:10px; margin-top:10px; color:#2191f7;
}
#pick3{
	height:80px; width:1000px; background-color:yellowgree; margin-left:200px;
}





#formm{
	height:740px; width:100%; background-color:orang; margin-top:30px;
}
#form1{
	height:180px; width:1000px; background-color:pin; margin-left:200px;
}
#formL{
	height:180px; width:700px; background-color:gree; float:left;
}
#formL h1{
	   font-weight:700; padding-left:40px;
}
#formL p{
	  font-size:19px; padding-left:40px; padding-top:20px;
}
#formR{
	height:180px; width:250px; background-color:greenyello; float:left;
}
#formR img {
	height:160px; width:215px; margin-top:-20px;
}
#form2{
	height:520px; width:1130px; margin-left:120px; background-color:skyblu; 
}
#form{
	height:500px; width:900px; background-color:pin; margin-left:115px;
}
#name{
	height:65px; width:220px; border:1px solid #b4b7b9; border-radius:5px;
	font-size:20px;float:left;   
}
#email{
	height:65px; width:220px; border:1px solid #b4b7b9; border-radius:5px;
	font-size:20px; float:left;  margin-left:10px;  
}
#orgN{
	height:70px; width:450px; border:1px solid #b4b7b9; border-radius:5px;
	font-size:20px; float:left;  margin-top:95px; margin-left:-450px
}
#state{
	height:70px; width:450px; border:1px solid #b4b7b9; border-radius:5px;
	font-size:20px; float:left;  margin-top:190px; margin-left:-450px
}
#msg{
	height:260px; width:420px; border:1px solid #b4b7b9; border-radius:5px;
	font-size:20px; float:left;  margin-top:-260px; margin-left:480px; padding-top:20px;
}
#learn{
	height:70px; width:420px; border:1px solid #b4b7b9; border-radius:5px;
	font-size:20px; float:left;  margin-top:20px; margin-left:450px;
}
#send{
	height:70px; width:420px; border:1px solid #b4b7b9; border-radius:5px; color:white;
	font-size:21px; float:left;  margin-top:20px; margin-left:450px; background-color:#1174ce; font-weight:700;
}
#send:hover{
	height:70px; width:420px; border:1px solid #b4b7b9; border-radius:5px; color:white;
	font-size:21px; float:left;  margin-top:20px; margin-left:450px; background-color:#0c5c95; font-weight:700;
}


	
#footer{
	height:50px; width:100%;  z-index: 1; content: ""; background:rgba(0,0,0,0.8);
	height:260px; width:100%; 
}	
#footermiddle{
	background-color:yello; height:160px; width:450px; float:left;
}
#footermiddleup{
	background-color:darkkhak; height:60px; width:450px; float:left; margin-top:20px;
}
#footermiddleup p{
	font-size:25px;  text-align:center; padding-top:15px;
	font-family: Chaparral Pro Light; color:white;
}
#footermiddledown{
	background-color:skyblu; height:90px; width:450px; float:left; border-bottom:1px solid #a29e9e;
}
#footermiddledown img{
	height:40px; width:40px;
	position:relative;
	cursor:pointer;
	transition:ease 6s;
	left:120px;
	margin-top:10px;
}
#footermiddledown img:hover{
	height:40px; width:40px; 
	transition:ease 2s;
	transform:rotate(360deg);
	
	
}		
#footerleft{
	background-color:cya; height:170px; width:260px;float:left; margin-left:120px; border-bottom:1px solid #a29e9e;
}
#footerleft h3{
	font-size:25px;
	font-family: Chaparral Pro Light;
	padding-top:23px;
	color:white;
}
#footerleft p{
	 font-family: Chaparral Pro Light;
	 font-size:19px;
	 padding-top:10px;
	 color:white;
}	
#footerright{
	background-color:greenyello; height:170px; width:400px;float:left; border-bottom:1px solid #a29e9e;
}
#footerright h3{
	font-family: Chaparral Pro Light;
	padding-top:20px;
	font-size:25px;
	padding-left:100px;
	color:white;
}	
#batan{
	height:40px; width:220px; margin-left:70px; font-size:16px; margin-top:13px;
}
#sub{
	height:40px; width:100px; border-radius:0px 5px 5px 0px; background-color:#00a651; font-size:17px;
	 border:none; margin-left:-5px; margin-bottom:3px; 
	 font-family:"Lucida Grande", "Lucida Sans Unicode", "Lucida Sans", "DejaVu Sans", Verdana, sans-serif;
}			
#footerbottom{
	background-color:gree; height:70px; width:100%; margin-top:-90px;
}
#footerbottom li{
	font-size:15px; padding-left:5px;
}
#footerbottom h5{
	font-size:19pt;
	font-family:gabriola;
	font-weight:;
	text-align:center;
	padding-top:15px;
	color:white;
}	




